/basic_stat.txt
/basic_stat.txt.bak
/LD2011_2014.txt
/LD2011_2014_Transposed.csv
/LD2011_2014_transposed_trimmed.csv
/LD2011_2014_transposed_trimmed.csv.bak
/LD2011_2014_trimmed.csv
/test.csv
/transpose.clj
/transpose.clj.bak
